/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
}

/* Modal Content/Box */
.modal-content {
  
  background-color: #fefefe;
  margin: 9.5% auto; /* 15% from the top and centered */
  padding:1vw;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height:auto;
  border-color: silver;
  border-width: 2px;
  border-style:solid;
  background-color:gray;
}

.witch{
  width: 40vw;
  height:auto;  
}

.introduction {
  position:absolute;
  top: 22%;
  left:50vw;
  width:26vw;
  display:flex;
  flex-direction: column; 
  justify-content: space-between;
  height:58%;
}

.linksContainer {
  display:flex;
  position: absolute;
  height:25%;
  width:50%;
  bottom: 0%;
  align-content: center;
  justify-content: space-between;

}

.links {
  background-color: rgb(105, 104, 104);
  border-color:rgb(102, 101, 101);
  border-style: solid;
  border-width: 1px ;
  border-radius: 5%;
 
  padding-top:1vh;
  padding-bottom: 1vh;
}

/* .highscore {
  position:static;
  display:flex;
  justify-content: flex-end;
} */

align-self: center;
  
  
  background-color: gray;
  
  width:60%;
  